//Colors
$primary-color: #1565d8;
$secondary-color: #3F598A;
$success-color: #36B37E;
$info-color: #00B8D9;
$warning-color: #FAAD13;
$danger-color: #F16141;
$black-color: #183B56;
$gray-color: #5A7184;
$gray-light-color: #B3BAC5;
$white-color: #FFFFFF;


// Breakpoints

$breakpoint-sm:  600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

